@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: start;
  }


  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
    text-align: start;
  }

  .slider_section .carousel-indicators {
    margin-top: 45px;
  }

  .client_section .carousel-control-prev {
    left: 15%;
  }

  .client_section .carousel-control-next {
    right: 15%;
  }

  .slider-text {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .btn_no_left {
    left: 0 !important;
  }

  .mobile_adjust {
    width: 100% !important;
    max-width: 90% !important;
    margin: auto !important;
    padding: 0px;
  }

  .dropdown-content {
    display: block;
    position: static;
    float: none;
    box-shadow: none;
    background-color: transparent;
  }

  .dropdown-content a {
    color: #ffffff;
    text-align: left;
  }

  .nav-link {
    padding-left: 0px !important;
    text-align: left;
  }

  .align-text-slider {
    right: 0;
    padding-bottom: 80px;
  }

  html { 
    overflow: auto; 
  }

  .heading2_h5 {
    padding-right: 20%;
  }

  .mobile_reverse{
    display: block !important;
  }

  .mobile_reverse .flex-left{
    width: 100% !important;
    text-align: center;
  }

  .mobile_reverse .flex-right{
    width: 100% !important;
  }

  .imgfigura{
    width: 100%;
  }

  .totall{
    display: block;

  }

  .barraesquerda, .infoCorpo{
    width: 100%;
  }

  .canvasEmail{
    height: 30px !important;
  }

  .lastBtn{
    margin-bottom: 100px;
  }

  .publicaInv{
    padding-right:50px;
    padding-bottom: 10px;
  }

  .textInfo{
    padding-right: 50px;
    word-wrap: break-word;
  }

  .lang_nav{
    padding: 0;
    padding-bottom: 20px;
    font-size: 16px;
  }
}


@media (max-width: 767px) {
  footer{
    padding: 40px 0 20px;
  }

  .logo-tech_footer{
    margin: auto;
    display: block;
    width: 75%;
    margin-bottom: 20px !important;
  }

  .logo_footer{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .center_footer{
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .widget_menu{
    text-align: center;
  }

  .slider_bg_box img {
    -o-object-position: top center;
    object-position: top center;
  }

  .arrival_section .arrival_bg_box img {
    -o-object-position: top right;
    object-position: top right;
  }

  .client_section .carousel-control-prev {
    left: 5%;
  }

  .client_section .carousel-control-next {
    right: 5%;
  }

  .slider_section .detail-box,
  .about_section .detail-box {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .subscribe_section .box,
  .arrival_section .box {
    padding: 75px 25px;
  }

  .subscribe_section .subscribe_form form button {
    margin-top: 15px;
  }

  .flex-left2{
    width: 50%;
    padding-right: 15px;
  }

  .flex-right{
    padding-right: 20px;
  }
}

@media (max-width: 576px) {
  .heading_container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .heading_container h2 {
    font-size: 2rem;
  }

  .carousel_btn_box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
  }
}

@media (max-width: 420px) {}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}